<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" type="image/x-icon" href="../static/img/icona.jpg">

</head>
<body>

    <div id="login-container"> <!-- dove metto la pagina nomrmale per il login -->
        <h1>Login</h1>
        <form id="login-form">
            <input type="text" id="username" placeholder="Username" required>
            <input type="password" id="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <div class="links">
            <button id="register-btn" type="button">Registrati</button>
            <button id="forgot-btn" type="button">Password dimenticata?</button>    
        </div>
    </div>
    <!-- lo lascio ma proba ilmente non sarà giusto-->
    <div id="welcome-container" style="display:none;"> <!-- dove metto la pagina di benvenuto una volta effettuato il login, inizialmente nascosta-->
        <h2 id="welcome-msg"></h2>
        <button id="home-btn">Home</button>
        <button id="explore-btn">Esplora</button>
    </div>
    <script>
    document.getElementById('login-form').addEventListener('submit', async function(e) {
        e.preventDefault();
        const username = document.getElementById('username').value.trim();
        const password = document.getElementById('password').value;

        try {
            const response = await fetch('/login', { //faccio la post al server
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ username, password })
            });
            const data = await response.json();
            if (response.ok && data.success) {
                localStorage.setItem('donatos_username', username); // mi salvo l'username in locale, in questo modo riesco ad accedere a esplora e reigstrati
                window.location.href = 'homePage.html';
            } else {
                alert(data.message || 'Username o password errati.');
            }
        } catch (error) {
            alert('Errore di connessione al server.');
        }
    });

    document.getElementById('register-btn').onclick = function() { //se clicca su registrati rimadno alla pagina di registrazione
        window.location.href = '/register';
    };

    document.getElementById('forgot-btn').onclick = function() { //se clicca password dimetnicata
        alert("Prossima volta ricordatela, ti suggeriamo di registrarti con un nuovo username");
    };
    </script>
</body>
</html>